@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
body {
  background: url("/img/bg-code.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#code {
  margin-top: 10px;
  margin-bottom: 10px; }
  #code h2 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 14pt;
    border-bottom: 1px dotted;
    margin-top: 0; }
  #code .box {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: top;
    display: inline-block;
    width: 150px; }
    #code .box .highlight {
      background-color: white; }
