---
title: "Volkan Yazıcı"
---

<p>
My name is Volkan Yazıcı (he/him).
I provide IT consultancy services under my company <b>Abstract Dynamics</b>.
I am programmer primarily focused on implementation and maintenance of Java applications and libraries.
Since November 2024, I work on OpenJDK at Oracle.
I secured <a href="https://www.sovereigntechfund.de/tech/log4j">a grant from Sovereign Tech Fund</a> in 2023, and this allowed me to work full-time on <a href="https://logging.apache.org">Apache Logging Services (Log4cxx, Log4j, Log4net, etc.)</a>, which I have been contributing to since 2017.
Prior to that, I was part of a team maintaining core Java and Spring libraries used by 1000+ microservices deployed to Google Cloud (Kubernetes) for one of the biggest e-commerce companies in Europe, <a href="https://bol.com">Bol</a>.
There I also led the development (Java, Elasticsearch, PostgreSQL) of a fully-fledged search engine – including migration from the previous legacy system (Oracle Endeca) and rewrite of the ETL layer.
You might have also seen me coding (C, Python) for embedded devices, sending patches to PostgreSQL, implementing data structures in Lisp (Scheme, Common Lisp), or developing (Java, JGroups, Hazelcast) distributed software-defined network (SDN) controllers.
</p>
<p>
You can <a href="https://github.com/sponsors/vy">sponsor my work</a>, <a href="mailto:volkan@yazi.ci">e-mail me</a>, or checkout my <a href="https://www.linkedin.com/in/yazicivo">LinkedIn</a>, <a href="https://twitter.com/yazicivo">Twitter</a> and <a href="https://github.com/vy">GitHub</a> accounts.
See <a href="/code/">/code</a> for a list of my F/OSS projects.
</p>

<ul class="arrow-list">
  <% recent_posts(5).each do |article| %>
  <li>
    <%= link_to(article[:title], article.path) %>
    at
    <%=
       require "time"
       Time.parse(article[:created_at]).strftime("%e %b, %Y")
    %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Continues...", "/blog/" %></p>
