<% render 'default', :css => "blog" do %>

<div id="tags">
  <%=
    freqs = Hash.new(0)
    articles.each do |article|
      article[:tags].each do |tag|
        freqs[tag] += 1
        end
     end
     freqs.keys.sort.map { |tag|
        freq = freqs[tag]
        extra_class = "highlight" if tag == @tag
        link = link_to(tag == @tag ? "<span class='highlight'>#{tag}</span>" : tag, tag_identifier(tag))
        "<div>#{link}&nbsp;(#{freqs[tag]})</div>"
     } .join("\n")
  %>
</div>

<div id="posts">
  <%
    require "time"
    year_to_article_map = {}
    sorted_articles.each do |article|
      if @tag.nil? or article[:tags].include?(@tag)
        year = Time.parse(article[:created_at]).strftime("%Y")
        year_to_article_map[year] ||= []
        year_to_article_map[year] << article
      end
    end
    year_to_article_map.keys.each do |year|
  %>
  <h2><%= year %></h2>
  <ul class="arrow-list">
    <% year_to_article_map[year].each do |article| %>
    <li>
      <span class="title">
        <%= link_to(article[:title], article.path) %>
      </span><br/>
      <span class="info">
        posted on
        <%= Time.parse(article[:created_at]).strftime("%Y-%m-%d") %>
        <%=
          if article[:tags]
            "with tags " + \
            article[:tags].map { |tag|
              link_to(tag, tag_identifier(tag))
            } .join(", ")
          end
        %>
      </span>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>

<% end %>
