#tags
  vertical-align: top
  text-align: right
  display: inline-block
  width: 20%
  .highlight
    color: #ff0000
  a
    text-decoration: none
  span
    vertical-align: middle
    line-height: 95%

#posts
  margin-left: 4%
  display: inline-block
  width: 75%
  li
    line-height: 1.5em
    margin-bottom: 0.6em
    .info
      font-size: 1em
      a
        text-decoration: none
        border-bottom: 1px dotted
      a:hover
        border-bottom: 1px solid
  h2
    border-bottom: 1px dotted

@media (max-width: 50rem)
  #tags
    display: none
