@mixin header-border
  border-bottom: 1px solid #f1f1f1
  border-left: 5px solid #f1f1f1


#post
  .head
    @include header-border
    padding: 0.5em
    .title
      font-size: 1.7em
    .subtitle
      font-size: 0.8em
    .share
      margin-top: 0.5em
  img
    margin: 0px auto
    display: block
    max-width: 100%
  em
    border-bottom: 1px dotted
  blockquote
    font-style: oblique
  h1
    font-weight: normal
    font-size: 1.3em
    padding: 0.5em
    margin-top: 2em
    @include header-border
  table
    margin: 0px auto
    > thead > tr > th
      border-bottom: 2px solid #ddd
      padding: 0.5em
    > tbody
      > tr > td
        border-top: 1px solid #ddd
        padding: 0.5em
      > tr:first-child > td
        border-top: 0
  .gist pre
    font-size: 8pt

#disqus_thread
  margin-top: 20px
  padding-top: 20px
  border-top: 1px dotted

pre
  line-height: 1em
  overflow-x: auto
  border-radius: 0.5em
  background-color: #f1f1f1
  padding: 1.2em
  .hll
    background-color: #ffffcc
  .c
    // Comment
    color: #8f5902
    font-style: italic
  .err
    // Error
    color: #a40000
    border: 1px solid #ef2929
  .g
    // Generic
    color: #000000
  .k
    // Keyword
    color: #204a87
    font-weight: bold
  .l
    // Literal
    color: #000000
  .n
    // Name
    color: #000000
  .o
    // Operator
    color: #ce5c00
    font-weight: bold
  .x
    // Other
    color: #000000
  .p
    // Punctuation
    color: #000000
    font-weight: bold
  .cm
    // Comment.Multiline
    color: #8f5902
    font-style: italic
  .cp
    // Comment.Preproc
    color: #8f5902
    font-style: italic
  .c1
    // Comment.Single
    color: #8f5902
    font-style: italic
  .cs
    // Comment.Special
    color: #8f5902
    font-style: italic
  .gd
    // Generic.Deleted
    color: #a40000
  .ge
    // Generic.Emph
    color: #000000
    font-style: italic 
  .gr
    // Generic.Error
    color: #ef2929
  .gh
    // Generic.Heading
    color: #000080
    font-weight: bold
  .gi
    // Generic.Inserted
    color: #00A000
  .go
    // Generic.Output
    color: #000000
    font-style: italic
  .gp
    // Generic.Prompt
    color: #8f5902
  .gs
    // Generic.Strong
    color: #000000
    font-weight: bold
  .gu
    // Generic.Subheading
    color: #800080
    font-weight: bold
  .gt
    // Generic.Traceback
    color: #a40000
    font-weight: bold
  .kc
    // Keyword.Constant
    color: #204a87
    font-weight: bold
  .kd
    // Keyword.Declaration
    color: #204a87
    font-weight: bold
  .kn
    // Keyword.Namespace
    color: #204a87
    font-weight: bold
  .kp
    // Keyword.Pseudo
    color: #204a87
    font-weight: bold
  .kr
    // Keyword.Reserved
    color: #204a87
    font-weight: bold
  .kt
    // Keyword.Type
    color: #204a87
    font-weight: bold
  .ld
    // Literal.Date
    color: #000000
  .m
    // Literal.Number
    color: #0000cf
    font-weight: bold
  .s
    // Literal.String
    color: #4e9a06
  .na
    // Name.Attribute
    color: #c4a000
  .nb
    // Name.Builtin
    color: #204a87
  .nc
    // Name.Class
    color: #000000
  .no
    // Name.Constant
    color: #000000
  .nd
    // Name.Decorator
    color: #5c35cc
    font-weight: bold
  .ni
    // Name.Entity
    color: #ce5c00
  .ne
    // Name.Exception
    color: #cc0000
    font-weight: bold
  .nf
    // Name.Function
    color: #000000
  .nl
    // Name.Label
    color: #f57900
  .nn
    // Name.Namespace
    color: #000000
  .nx
    // Name.Other
    color: #000000
  .py
    // Name.Property
    color: #000000
  .nt
    // Name.Tag
    color: #204a87
    font-weight: bold
  .nv
    // Name.Variable
    color: #000000
  .ow
    // Operator.Word
    color: #204a87
    font-weight: bold
  .w
    // Text.Whitespace
    color: #f8f8f8
    text-decoration: underline
  .mf
    // Literal.Number.Float
    color: #0000cf
    font-weight: bold
  .mh
    // Literal.Number.Hex
    color: #0000cf
    font-weight: bold
  .mi
    // Literal.Number.Integer
    color: #0000cf
    font-weight: bold
  .mo
    // Literal.Number.Oct
    color: #0000cf
    font-weight: bold
  .sb
    // Literal.String.Backtick
    color: #4e9a06
  .sc
    // Literal.String.Char
    color: #4e9a06
  .sd
    // Literal.String.Doc
    color: #8f5902
    font-style: italic
  .s2
    // Literal.String.Double
    color: #4e9a06
  .se
    // Literal.String.Escape
    color: #4e9a06
  .sh
    // Literal.String.Heredoc
    color: #4e9a06
  .si
    // Literal.String.Interpol
    color: #4e9a06
  .sx
    // Literal.String.Other
    color: #4e9a06
  .sr
    // Literal.String.Regex
    color: #4e9a06
  .s1
    // Literal.String.Single
    color: #4e9a06
  .ss
    // Literal.String.Symbol
    color: #4e9a06
  .bp
    // Name.Builtin.Pseudo
    color: #3465a4
  .vc
    // Name.Variable.Class
    color: #000000
  .vg
    // Name.Variable.Global
    color: #000000
  .vi
    // Name.Variable.Instance
    color: #000000
  .il
    // Literal.Number.Integer.Long
    color: #0000cf
    font-weight: bold
